<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register for Feedback</title>
  

</head>

<body>
<form action="register" method="post">
         {% csrf_token %}
         <input type="text" name="Fname" placeholder="first name"><br>
         <input type="text" name="Lname" placeholder="last name"><br>
         <input type="text" name="Phoneno" placeholder="Phone number"><br>
         <input type="text" name="Address" placeholder="Address"><br>
         <input type="text" name="Email" placeholder="Email"><br>
         <input type="text" name="Feedback" placeholder="Feedback"><br>
         <input type="submit">

         
        

</form>  
</body>
</html>